# Import packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylab import *
import seaborn as sns
%matplotlib inline
import  statsmodels.api as sm
import statsmodels.stats.api as sms
from scipy.stats import boxcox

In [2]:
AllCryptos = pd.read_csv("all_currencies.csv")

In [3]:
OneHundoCryptos = pd.read_csv("100 List.csv")

In [4]:
AllCryptos.head()

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN

In [5]:
OneHundoCryptos.head()

,#,Name,Market Cap,Price,Circulating Supply,Volume (24h),% Change (24h)
0,1,Bitcoin,"$60,219,183,594","$3,631.72","16,581,450 BTC","$1,226,800,000",-0.84%
1,2,Ethereum,"$25,061,275,598",$264.44,"94,772,198 ETH","$462,576,000",1.32%
2,3,Bitcoin Cash,"$6,815,417,939",$410.47,"16,603,775 BCH","$260,857,000",-3.22%
3,4,Ripple,"$6,646,329,833",$0.17,"38,343,841,883 XRP *","$41,945,000",-0.42%
4,5,Dash,"$2,607,960,913",$344.36,"7,573,378 DASH","$97,142,300",3.62%