# Final Project for Data Science Program: Blockchain, Cryptocurrency & Data Science by Matthew Thomas

## Import packages

In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pylab import *
import seaborn as sns
%matplotlib inline
import  statsmodels.api as sm
import statsmodels.stats.api as sms
from scipy.stats import boxcox
from scipy.stats import norm
from scipy.stats import ttest_ind
from scipy import stats

## Import Data

In [85]:
AllCryptos = pd.read_csv("all_currencies.csv")

In [86]:
OneHundoCryptos = pd.read_csv("100 List.csv")

In [87]:
AllCryptos.head()

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN

In [88]:
OneHundoCryptos.head()

,#,Name,Market Cap,Price,Circulating Supply,Volume (24h),% Change (24h)
0,1,Bitcoin,"$60,219,183,594","$3,631.72","16,581,450 BTC","$1,226,800,000",-0.84%
1,2,Ethereum,"$25,061,275,598",$264.44,"94,772,198 ETH","$462,576,000",1.32%
2,3,Bitcoin Cash,"$6,815,417,939",$410.47,"16,603,775 BCH","$260,857,000",-3.22%
3,4,Ripple,"$6,646,329,833",$0.17,"38,343,841,883 XRP *","$41,945,000",-0.42%
4,5,Dash,"$2,607,960,913",$344.36,"7,573,378 DASH","$97,142,300",3.62%

In [89]:
AllCryptos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632218 entries, 0 to 632217
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  632218 non-null  int64
 1   Date        632218 non-null  object
 2   Symbol      632218 non-null  object
 3   Open        632218 non-null  float64
 4   High        632218 non-null  float64
 5   Low         632218 non-null  float64
 6   Close       632218 non-null  float64
 7   Volume      626883 non-null  float64
 8   Market Cap  567841 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 43.4+ MB

In [90]:
OneHundoCryptos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   #                   100 non-null    int64
 1   Name                100 non-null    object
 2   Market Cap          100 non-null    object
 3   Price               100 non-null    object
 4   Circulating Supply  100 non-null    object
 5   Volume (24h)        100 non-null    object
 6   % Change (24h)      100 non-null    object
dtypes: int64(1), object(6)
memory usage: 5.6+ KB

## Evaluation Questions

## Number 1: How did the historical prices of various currencies change over time?

## Number 2: How does the price fluctuations of currencies correlate with each other?

## Data Wrangling

In [91]:
AllCryptos.drop(['Symbol'], axis=1, inplace=True)
AllCryptos.drop(['Open'], axis=1, inplace=True)
AllCryptos.drop(['Low'], axis=1, inplace=True)
AllCryptos.drop(['Close'], axis=1, inplace=True)
AllCryptos.drop(['Volume'], axis=1, inplace=True)
AllCryptos.drop(['Market Cap'], axis=1, inplace=True)

In [92]:
AllCryptos.head()

   Unnamed: 0        Date      High
0           0  2015-11-12  0.000017
1           1  2015-11-13  0.000033
2           2  2015-11-14  0.000053
3           3  2015-11-15  0.000063
4           4  2015-11-16  0.000046

In [93]:
AllCryptos = AllCryptos.astype({"High": 'int'})

In [80]:
AllCryptos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632218 entries, 0 to 632217
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  632218 non-null  int64
 1   Date        632218 non-null  object
 2   High        632218 non-null  int32
dtypes: int32(1), int64(1), object(1)
memory usage: 12.1+ MB